// Fonts.
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

@font-face {
	font-family: Spartan;
	src: url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
	font-weight: normal;
	font-style: normal;
}

// Variables.
$boardColor: #C6D7E0;
$firstAvenuesColor: #AA5433;
$secondAvenuesColor: #93E0FD;
$thirdAvenuesColor: #FB379D;
$fourthAvenuesColor: #FF9500;
$fifthAvenuesColor: #FF1420;
$sixthAvenuesColor: #FFF100;
$seventhAvenuesColor: #00B453;
$eightAvenuesColor: #0072C1;

$fontStack: Helvetica, Arial, sans-serif;

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #090909;
}

.monopoly {
    display: block;
    width: 50%;
    padding-bottom: 45%;
    max-height: 95%;

    background-color: $boardColor;

    .monopoly__board {
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        grid-template-columns: 15.38% 69.21% 15.38%;
        grid-template-rows: 15.38% 69.21% 15.38%;
        grid-template-areas: 
            "monopoly__row3 monopoly__row3 monopoly__row4"
            "monopoly__row2 monopoly__center monopoly__row4"
            "monopoly__row2 monopoly__row1 monopoly__row1";

        .board-row{
            display: flex;
            width: 100%;
            height: 100%;

            //flex-direction: row-reverse;
            justify-content: center;
        }

        .bigcell, .normalcell {
            font-family: 'Spartan', $fontStack;
            font-size: 0.4vw;
            text-align: center;
            text-transform: uppercase;
        }

        .monopoly__row1 {
            grid-area: monopoly__row1;

            flex-direction: row-reverse;

            //background: red;

            .bigcell, .normalcell {
                background-color: $boardColor;
                border-top: 2px solid black;
                border-right: 1px solid black;
                border-bottom: 2px solid black;
                border-left: 1px solid black;
            }

            .bigcell {
                width: 18.18%;
                height: 100%;

                .name {
                    position: absolute;
                    top: 0.7rem;
                    left: 0;
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
            }
    
            .normalcell {
                display: flex;
                width: 9.09%;
                height: 100%;

                flex-direction: column;
                align-items: start;
                align-content: flex-start;

                .cell-color{
                    width: 100%;
                    height: 1rem;
                    border-bottom: 2px solid black;
                }

                .name{
                    width: 100%;
                    margin-top: 0.6rem;
                    padding: 0 0.3rem;
                    word-wrap: break-word;
                }
            }

            .first-avns{
                .cell-color{
                    background-color: $firstAvenuesColor;
                }
            }

            .second-avns{
                .cell-color{
                    background-color: $secondAvenuesColor;
                }
            }
        }

        .monopoly__row2 {
            grid-area: monopoly__row2;

            flex-direction: column-reverse;

            //background: blue;

            .bigcell, .normalcell {
                background-color: $boardColor;
                border-top: 1px solid black;
                border-right: 2px solid black;
                border-bottom: 1px solid black;
                border-left: 2px solid black;
            }

            .bigcell {
                width: 100%;
                height: 18.18%;

                .name {
                    position: absolute;
                    top: 0.5rem;
                    right: 0.5rem;
                    margin-top: 0;
                    transform: rotate(45deg);
                    font-size: 0.6vw;
                }
            }
    
            .normalcell {
                display: flex;
                width: 100%;
                height: 9.09%;

                flex-direction: row-reverse;
                align-items: start;
                align-content: flex-start;

                .cell-color{
                    width: 1rem;
                    height: 100%;
                    border-left: 2px solid black;
                }

                .name{
                    transform: rotate(90deg);
                    width: 100%;
                    margin-top: 0.6rem;
                    padding: 0 1.4rem;
                    word-wrap: break-word;
                }
            }

            .third-avns{
                .cell-color{
                    background-color: $thirdAvenuesColor;
                }
            }

            .fourth-avns{
                .cell-color{
                    background-color: $fourthAvenuesColor;
                }
            }
        }

        .monopoly__row3 {
            grid-area: monopoly__row3;

            //background: yellow;

            .bigcell, .normalcell {
                background-color: $boardColor;
                border-top: 2px solid black;
                border-right: 1px solid black;
                border-bottom: 2px solid black;
                border-left: 1px solid black;
            }

            .bigcell {
                width: 18.18%;
                height: 100%;

                .name {
                    position: absolute;
                    bottom: 0.75rem;
                    right: 0rem;
                    margin-top: 0;
                    transform: rotate(135deg);
                    font-size: 0.6vw;
                }
            }
    
            .normalcell {
                display: flex;
                width: 9.09%;
                height: 100%;

                flex-direction: column-reverse;
                align-items: start;
                align-content: flex-start;

                .cell-color{
                    width: 100%;
                    height: 1rem;
                    border-top: 2px solid black;
                }

                .name{
                    transform: rotate(180deg);
                    width: 100%;
                    margin-bottom: 0.6rem;
                    padding: 0 0.3rem;
                    word-wrap: break-word;
                }
            }

            .fifth-avns{
                .cell-color{
                    background-color: $fifthAvenuesColor;
                }
            }

            .sixth-avns{
                .cell-color{
                    background-color: $sixthAvenuesColor;
                }
            }
        }

        .monopoly__row4 {
            grid-area: monopoly__row4;

            flex-direction: column;

            //background: green;

            .bigcell, .normalcell {
                background-color: $boardColor;
                border-top: 1px solid black;
                border-right: 2px solid black;
                border-bottom: 1px solid black;
                border-left: 2px solid black;
            }

            .bigcell {
                width: 100%;
                height: 18.18%;

                .name {
                    position: absolute;
                    bottom: 0.6rem;
                    left: 0.3rem;
                    margin-top: 0;
                    transform: rotate(225deg);
                    font-size: 0.6vw;
                }
            }
    
            .normalcell {
                display: flex;
                width: 100%;
                height: 9.09%;

                align-items: start;
                align-content: flex-start;

                .cell-color{
                    width: 1rem;
                    height: 100%;
                    border-right: 2px solid black;
                }

                .name{
                    transform: rotate(-90deg);
                    width: 100%;
                    margin-top: 0.6rem;
                    padding: 0 1.4rem;
                    word-wrap: break-word;
                }
            }

            .seventh-avns{
                .cell-color{
                    background-color: $seventhAvenuesColor;
                }
            }

            .eight-avns{
                .cell-color{
                    background-color: $eightAvenuesColor;
                }
            }
        }

        .monopoly__center {
            grid-area: monopoly__center;
            background: $boardColor;
        }
    }
}

/* Responsive - Tablet */
@media (min-width: 741px) and (max-width: 1024px){
    
}

/* Responsive - Mobile */
@media (min-width: 320px) and (max-width: 740px){
    .monopoly {
        display: block;
        width: 90%;
        padding-bottom: 85%;
        max-height: 95%;

        .monopoly__board {
            .bigcell, .normalcell {
                font-size: 0.8vw;
            }
        }
    }
}