* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #090909;
}

.monopoly {
  display: block;
  width: 50%;
  padding-bottom: 45%;
  max-height: 95%;
  background-color: #C6D7E0;
}

.monopoly .monopoly__board {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 15.38% 69.21% 15.38%;
      grid-template-columns: 15.38% 69.21% 15.38%;
  -ms-grid-rows: 15.38% 69.21% 15.38%;
      grid-template-rows: 15.38% 69.21% 15.38%;
      grid-template-areas: "monopoly__row3 monopoly__row3 monopoly__row4" "monopoly__row2 monopoly__center monopoly__row4" "monopoly__row2 monopoly__row1 monopoly__row1";
}

.monopoly .monopoly__board .board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.monopoly .monopoly__board .monopoly__row1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: monopoly__row1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.monopoly .monopoly__board .monopoly__row1 .bigcell, .monopoly .monopoly__board .monopoly__row1 .normalcell {
  background-color: #C6D7E0;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
}

.monopoly .monopoly__board .monopoly__row1 .bigcell {
  width: 18.18%;
  height: 100%;
}

.monopoly .monopoly__board .monopoly__row1 .normalcell {
  width: 9.09%;
  height: 100%;
}

.monopoly .monopoly__board .monopoly__row2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: monopoly__row2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.monopoly .monopoly__board .monopoly__row2 .bigcell, .monopoly .monopoly__board .monopoly__row2 .normalcell {
  background-color: #C6D7E0;
  border-top: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
}

.monopoly .monopoly__board .monopoly__row2 .bigcell {
  width: 100%;
  height: 18.18%;
}

.monopoly .monopoly__board .monopoly__row2 .normalcell {
  width: 100%;
  height: 9.09%;
}

.monopoly .monopoly__board .monopoly__row3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: monopoly__row3;
}

.monopoly .monopoly__board .monopoly__row3 .bigcell, .monopoly .monopoly__board .monopoly__row3 .normalcell {
  background-color: #C6D7E0;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
}

.monopoly .monopoly__board .monopoly__row3 .bigcell {
  width: 18.18%;
  height: 100%;
}

.monopoly .monopoly__board .monopoly__row3 .normalcell {
  width: 9.09%;
  height: 100%;
}

.monopoly .monopoly__board .monopoly__row4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: monopoly__row4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.monopoly .monopoly__board .monopoly__row4 .bigcell, .monopoly .monopoly__board .monopoly__row4 .normalcell {
  background-color: #C6D7E0;
  border-top: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
}

.monopoly .monopoly__board .monopoly__row4 .bigcell {
  width: 100%;
  height: 18.18%;
}

.monopoly .monopoly__board .monopoly__row4 .normalcell {
  width: 100%;
  height: 9.09%;
}

.monopoly .monopoly__board .monopoly__center {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: monopoly__center;
  background: #C6D7E0;
}

/* Responsive - Tablet */
/* Responsive - Mobile */
/*# sourceMappingURL=style.css.map */